<html>
<head>
  <title>Stud</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="stylesheets/navbar.css">
</head>
<body>
  <div id='navbar'>
    <ul>
      <li class="active">
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/work">Work</a>
      </li>
      <li class='last'>
        <a href="/towerwar">Tower War</a>
      </li>
    </ul>
  </div>
</body>
</html>